<section class="members-section">
  <div class="container">
    <div class="members-section__inner">
      <div class="union">
        <img src="images/content/union.png" alt="union" />
      </div>
      <h1 class="title">
        Členové od 2024
        <span> 2024</span>
      </h1>
      <div class="row g-20 members-section__row">
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/1.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Dominik Hašek</h2>
              <span>Brankář</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/2.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Jaromír Jágr</h2>
              <span>Útočník</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/3.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Jiří Dopita</h2>
              <span>Útočník</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/4.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Vladimír Růžička</h2>
              <span>Útočník a trenér</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="members-section__inner">
      <div class="row g-20 members-section__row">
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/5.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Pavel Patera</h2>
              <span>Obránce</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/6.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Richard Král</h2>
              <span>Komentátor</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/7.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Ivan Hlinka</h2>
              <span>Útočník</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
