<section class="homepage">
  <div class="container">
    <div class="union">
      <img src="images/content/union.png" alt="union" />
    </div>
    <div class="homepage__content">
      <span>VÍTEJTE MEZI ELITOU</span>
      <h1>MÍSTO OSLAV, UZNÁNÍ A RESPEKTU</h1>
      <p>PRO TY, KTEŘÍ PSALI EXTRALIGOVÉ DĚJINY</p>
      <ul class="homepage__links">
        <li>
          <a href="#" class="link link--gold">ČLENOVÉ KLUBU</a>
        </li>
        <li>
          <a href="#" class="link link--brand">o klubu</a>
        </li>
      </ul>
    </div>
  </div>
</section>
