.about-section {
  padding-top: 12rem;
  padding-bottom: 60px;
  @include media-breakpoint-down(xl) {
    padding-top: 10rem;
  }
  &__content {
    max-width: 622px;
    margin: 0 auto 200px;
    @include media-breakpoint-down(xl) {
      margin-bottom: 120px;
    }
    .perex {
      margin-bottom: 64px;
      margin-top: 64px;
      @include media-breakpoint-down(xl) {
        margin-bottom: 40px;
        margin-top: 40px;
      }
    }
  }
}
