<section class="about-section">
  <div class="container">
    <div class="members-section__inner">
      <div class="union">
        <img src="images/content/union.png" alt="union" />
      </div>
      <h1 class="title">
        VÍTEJTE MEZI ELITOU
        <span> O klubu</span>
      </h1>
      <div class="about-section__content">
        <div class="perex">
          Klub extraligových legend vznikl jako uznání a ocenění
          nejvýznamnějších osobností, které se nesmazatelně zapsaly do
          extraligové historie svými výkony na ledě i mimo něj.
        </div>
        <p class="p1">
          Cílem je vyjádřit nejen respekt za jejich přínos naší nejvyšší
          hokejové soutěži, ale také sloužit jako inspirace pro budoucí generace
          hokejistů, trenérů, rozhodčích, ale i těch, kteří se podíleli na
          chodu, rozvoji či propagaci samostatné české extraligy od jejího
          vzniku počínaje sezónou 1993/1994.
        </p>
      </div>
    </div>
    <div class="members-section__inner">
      <div class="union">
        <img src="images/content/union.png" alt="union" />
      </div>
      <h1 class="title">
        Členové od 2024
        <span> 2024</span>
      </h1>

      <div class="row g-20 members-section__row">
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/1.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Dominik Hašek</h2>
              <span>Brankář</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/2.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Jaromír Jágr</h2>
              <span>Útočník</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/3.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Jiří Dopita</h2>
              <span>Útočník</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/4.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Vladimír Růžička</h2>
              <span>Útočník a trenér</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
