<section class="member-section">
  <div class="member-section__row">
    <div class="container">
      <div class="row g-5">
        <div class="col-xxl-5">
          <div class="memberContent">
            <a href="#" class="memberContent__prev">
              <img src="images/ico/btn.svg" alt="prev" />
            </a>

            <div class="memberContent__state">
              <img src="images/ico/cz.svg" alt="" />
              Česká republika
            </div>
            <h1 class="memberContent__title">
              <span>Vladimír</span>
              Růžička
            </h1>
            <div class="o-content">
              <p>
                V pěti letech v Litvínově začala kariéra jednoho z nejlepších
                českých hokejistů historie Vladimíra Růžičky. Hned v prvním
                zápase v A-týmu v nejvyšší soutěži vstřelil gól. Čtyřikrát
                vyhrál kanadské bodování nejvyšší soutěže a pětkrát se stal
                nejlepším střelcem.
              </p>
              <p>
                Po návratu z NHL v roce 1994 začal zářit v dresu pražské Slavie,
                které pomohl mezi extraligovou elitu a v pražském klubu působil
                až do konce své aktivní kariéry. Na hráčskou kariéru navázala
                úspěšná trenérská kariéra. Se Slavií získal dva mistrovské
                tituly, vedle Slavie, vedl i Chomutov, Mountfield HK a Litvínov.
              </p>
              <p>
                Celkem odkoučoval v extralize 1048 zápasů a to je nejvíc ze
                všech trenérů.
              </p>
              <h2>Individuální trofeje</h2>
              <ul>
                <li>2× Zlatá hokejka (1986, 1988)</li>
                <li>
                  3× Nejproduktivnější hráč československé hokejové ligy
                  (1983/84, 1985/86, 1988/89)
                </li>
                <li>1× Nejproduktivnější hráč Tipsport ELH (1995/96)</li>
                <li>
                  5× Nejlepší střelec československé hokejové ligy (1983/84,
                  1984/85, 1985/86, 1987/88, 1988/89)
                </li>
                <li>
                  1× Nejlepší nahrávači extraligy ledního hokeje (1995/96)
                </li>
              </ul>
              <h2>Mistrovství světa</h2>
              <ul>
                <li>1983 Düsseldorf – stříbro</li>
                <li>1985 Praha – mistr světa</li>
                <li>1986 Moskva – 5. místo</li>
                <li>1987 Vídeň – bronz</li>
                <li>1989 Stockholm – bronz</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="memberInfo__img">
      <img src="images/content/detail.png" alt="member" />
      <a
        href="https://www.youtube.com/watch?v=kCG3xH6xN0Q"
        class="memberInfo__img-play popup-youtube"
      >
        <img src="images/ico/play.svg" alt="play" />
        <span>Přehrát video</span>
        (2:24)
      </a>
      <div class="memberInfo__box">
        <div class="o-content">
          <h2>Statistiky Extraligy</h2>
          <ul class="memberInfo__list">
            <li>
              <span>17 </span>
              Sezón
            </li>
            <li><span>680</span> Utkání</li>
            <li><span>431</span> Branek</li>
            <li><span>433</span> Asistencí</li>
            <li><span>864</span> Bodů</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="members-section__inner">
      <div class="union">
        <img src="images/content/union.png" alt="union" />
      </div>
      <h1 class="title">
        Členové od 2024
        <span> 2024</span>
      </h1>

      <div class="row g-20 members-section__row">
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/1.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Dominik Hašek</h2>
              <span>Brankář</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/2.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Jaromír Jágr</h2>
              <span>Útočník</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/3.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Jiří Dopita</h2>
              <span>Útočník</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" class="member">
            <div class="member__img">
              <img src="images/content/4.png" alt="foto" />
            </div>
            <div class="member__info">
              <h2>Vladimír Růžička</h2>
              <span>Útočník a trenér</span>
              <div class="member__btn">Zobrazit profil</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
