<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <p>© Copyright 2024 All rights reserved - APK LH</p>
      <a href="https://esportsmedia.cz/" target="_blank">eSportsmedia.cz</a>
    </div>
  </div>
</footer>
