<footer class="hp-footer footer">
  <div class="container">
    <div class="hp-footer__inner">
      <a href="#" class="hp-footer__item">
        <img loading="lazy" src="images/content/fotky/1.png" alt="foto" />
      </a>
      <a href="#" class="hp-footer__item">
        <img loading="lazy" src="images/content/fotky/2.png" alt="foto" />
      </a>
      <a href="#" class="hp-footer__item">
        <img loading="lazy" src="images/content/fotky/3.png" alt="foto" />
      </a>
      <a href="#" class="hp-footer__item">
        <img loading="lazy" src="images/content/fotky/4.png" alt="foto" />
      </a>
      <a href="#" class="hp-footer__item">
        <img loading="lazy" src="images/content/fotky/5.png" alt="foto" />
      </a>
      <a href="#" class="hp-footer__item">
        <img loading="lazy" src="images/content/fotky/6.png" alt="foto" />
      </a>
    </div>
  </div>
</footer>
