{% extends "@components/base/base.twig" %} {% set title = "04.0_member" %} {%
block main %}

<div class="content">
  {% include "@components/header/header.twig" %}
  <main class="main" aria-label="Hlavní obsah">
    {% include "@components/member-section/member-section.twig" %}
  </main>
</div>
{% include "@components/footer/footer.twig" %} {% endblock %}
